* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Prata", serif;
}
section {
  background: url(../img/hero.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.container {
  width: min(100% - 30px, 840px);
  margin-inline: auto;
  text-align: center;
}
.fashion {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
}
h1 {
  font-size: 5rem;
  color: #fff;
  line-height: 7rem;
  font-weight: 400;
}
.text p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 4rem;
  font-weight: 400;
}

.log p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-family: "Work Sans", sans-serif;
  min-width: 279px;
  height: 44px;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1.1rem;
  margin-right: 1rem;
  font-weight: 400;
}
a button {
  font-family: "Work Sans", sans-serif;
  height: 44px;
  min-width: 123px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.sosmed a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #fff;
}
