* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #302c42;
  height: 3000px;
}
.navbar {
  padding: 1rem 7%;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: ease-in-out 0.4s;
}
.nice {
  background-color: #4a455f;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo .logo1 {
  width: 6rem;
  margin-right: 0.5rem;
}
.navbar .logo .logo2 {
  width: 4rem;
}
.nav-link a {
  display: inline-block;
  color: #fff;
  margin-left: 41px;
  font-size: 0.9rem;
  font-weight: 700;
}
.nav-link a::after {
  content: "";
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid #fff;
  display: block;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.nav-link a:hover::after {
  transform: scaleX(0.5);
}
.btn-nav button {
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 40px;
  font-weight: 600;
}
.btn-nav .btn-1 {
  border: 2px solid #fff;
  color: #ffff;
  margin-right: 1rem;
  background-color: transparent;
  cursor: pointer;
}

.btn-nav .btn-2 {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  color: #343045;
  border: none;
  cursor: pointer;
}
#menu {
  display: none;
}

/* hero */
#hero {
  height: 100vh;
  padding: 3rem 7%;
  align-items: center;
}
.hero .container {
  width: min(100% - 30px, 100%);
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.right-hero {
  flex: 1 1 30rem;
}
.text-hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: #fff;
}
.text-hero h1 span {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}
.text-hero p {
  width: 450px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 2rem;
  color: #ffffff;
}
.btn-hero {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.btn-hero a {
  padding: 1.2rem 1.6rem;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #343045;
  margin-right: 2.3rem;
}
.img-hero img {
  width: 42rem;
}

.text-left {
  display: none;
}
.bot-hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: radial-gradient(
      50% 2900.76% at 50% 53.89%,
      rgba(58, 52, 86, 0.95) 0%,
      #211e2e 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
  padding: 1rem;
}
.bot-hero .menu {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(192, 183, 232, 0.33);
}
.menu.mail {
  border-style: none;
}
.bot-hero .menu .text {
  margin-left: 0.5rem;
}
.bot-hero img {
  width: 3.5rem;
}
.bot-hero h3 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}
.bot-hero p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
  #menu {
    display: block;
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav-link {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #4a455f;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }
  .nav-link.active {
    right: 0;
  }
  .nav-link a {
    display: block;
    margin: 2rem;
    padding: 1.2rem;
    font-size: 1.5rem;
  }
  .btn-nav {
    display: flex;
    align-items: center;
  }
  .nav-link a:after {
    transform-origin: 0;
  }
  .nav-link a:hover::after {
    transform: scaleX(0.3);
  }
  .hero .container {
    flex-wrap: wrap;
  }
  .text-hero,
  .btn-hero {
    display: none;
  }
  .img-hero {
    text-align: center;
  }
  .text-left {
    display: block;
    text-align: center;
    transition: 0.4s;
  }
  .text-left h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
  }
  .text-left h1 span {
    background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
  }
  .text-left p {
    width: 450px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 2rem;
    color: #ffffff;
  }
  .btn-hero-left {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-hero-left a {
    padding: 1.2rem 1.6rem;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    border-radius: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #343045;
    margin-right: 2.3rem;
  }
  .bot-hero {
    flex-wrap: wrap;
    border-radius: 10px;
    margin-top: 3rem;
  }
  .bot-hero .menu {
    border-style: none;
  }
} ;
